src/templates/blocks/fly.jade
div.fly
	a(href="#").fly-closer
		span.fly-closer__icon
	div.fly__nav
		div.fly__count 32 товара
		a(href="#").fly__to-basket.link.link--red Перейти в корзину
		a(href="#").fly__order.button.button--red.button--square Заказать
	
	div.fly__content
		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

dist/blocks/fly.html

<div class="fly"><a href="#" class="fly-closer"><span class="fly-closer__icon"></span></a>
  <div class="fly__nav">
    <div class="fly__count">32 товара</div><a href="#" class="fly__to-basket link link--red">Перейти в корзину</a><a href="#" class="fly__order button button--red button--square">Заказать</a>
  </div>
  <div class="fly__content"><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
      <div class="fly__item-image"><img src="assets/images/fly__item-image.png"/></div>
      <div class="fly__item-name">Длинное наименование в две и более строк</div>
      <div class="counter"><span class="counter__minus">&#8212;</span>
        <div class="counter__result">
          <label for="count"></label>
          <input type="number" value="25" id="count" class="counter__input"/>
        </div><span class="counter__plus">&#43;</span>
      </div>
      <div class="fly__item-code">Z7544</div>
      <div class="fly__item-remove"></div></a></div>
</div>
