src/templates/_index.jade
extends layout.jade

block title
	title index page
block components
	include blocks/default.jade

	div.parallax
		div.parallax__layer.parallax__layer--1
		div.parallax__layer.parallax__layer--2
			h1.index__header h1 here
		div.parallax__layer.parallax__layer--3
			img(src="assets/images/background__triangle.svg", alt="")

block content
	div.index
		div#scene.mousePlx
			div.owl
				div.owl-slide
					div(data-depth="0.50").layer.layer--level-4
						div.mousePlx__content

							p.mousePlx__section Коллекция обоев

							h2.mousePlx__title Renaissance

							div.mousePlx__brand
								//img size = 150x40px
								img(src="assets/images/index__brand.jpg", alt="")

							a(href="#").link.link--red.link--more Подробнее


					div(data-depth="0.20").layer.layer--level-1
						// bg-img size = 550x550px 

						div(style="background-image: url(assets/images/index__big-circ.jpg)").mousePlx__big-circle

					div(data-depth="0.35").layer.layer--level-1
						// bg-img size = 220x220px

						div(style="background-image: url(assets/images/index__sml-circ.jpg)").mousePlx__sml-circle


					div(data-depth="0.70").layer.layer--level-3
						// bg-img size = 270x270px

						div(style="background-image: url(assets/images/index__mdl-circ.jpg)").mousePlx__mdl-circle

					div(data-depth="0.50").layer.layer--level-2
						// max bg-img size = 520x520px
						div(style="background-image: url(assets/images/index__pic.png)").mousePlx__pic



				div.owl-slide
					div(data-depth="0.50").layer.layer--level-4
						div.mousePlx__content

							p.mousePlx__section Коллекция обоев

							h2.mousePlx__title Renaissance

							div.mousePlx__brand
								//img size = 150x40px
								img(src="assets/images/index__brand.jpg", alt="")

							a(href="#").link.link--red.link--more Подробнее


					div(data-depth="0.20").layer.layer--level-1
						// bg-img size = 550x550px 

						div(style="background-image: url(assets/images/550.jpg)").mousePlx__big-circle

					div(data-depth="0.35").layer.layer--level-1
						// bg-img size = 220x220px

						div(style="background-image: url(assets/images/220.jpg)").mousePlx__sml-circle


					div(data-depth="0.70").layer.layer--level-3
						// bg-img size = 270x270px

						div(style="background-image: url(assets/images/270.jpg)").mousePlx__mdl-circle

					div(data-depth="0.50").layer.layer--level-2
						//
						div(style="background-image: url(assets/images/520.png)").mousePlx__pic

dist/_index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index page</title>
    <link rel="stylesheet" href="assets/css/lib/owl.css">
    <link rel="stylesheet" href="assets/css/lib/hamburgers.css">
    <link rel="stylesheet" href="assets/css/lib/scrollbar.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
  </head>
  <body>
    <section class="page">
      <div class="components">
        <div class="hamburger hamburger--elastic">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div><a href="basket.html" class="fly-opener"><span class="fly-opener__count">32</span><span class="fly-opener__icon"><img src="assets/images/fly-opener.png" alt=""></span></a>
        <div class="fly"><a href="#" class="fly-closer"><span class="fly-closer__icon"></span></a>
          <div class="fly__nav">
            <div class="fly__count">32 товара</div><a href="#" class="fly__to-basket link link--red">Перейти в корзину</a><a href="#" class="fly__order button button--red button--square">Заказать</a>
          </div>
          <div class="fly__content"><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a><a href="#" class="fly__item">
              <div class="fly__item-image"><img src="assets/images/fly__item-image.png"></div>
              <div class="fly__item-name">Длинное наименование в две и более строк</div>
              <div class="counter"><span class="counter__minus">&#8212;</span>
                <div class="counter__result">
                  <label for="count"></label>
                  <input type="number" value="25" id="count" class="counter__input">
                </div><span class="counter__plus">&#43;</span>
              </div>
              <div class="fly__item-code">Z7544</div>
              <div class="fly__item-remove"></div></a></div>
        </div>
        <aside class="aside">
          <div class="aside__inner"><a href="index.html" class="aside__logo"><img src="assets/images/main-logo.png" alt=""></a>
            <header class="header"><a href="vk.com" class="button button--square button--red header__button">Каталог обоев</a>
              <nav class="header__menu">
                <ul class="header__menu-list">
                  <li class="header__menu-item"><a href="#" class="header__menu-link link link--black">Фотопанно</a></li>
                  <li class="header__menu-item"><a href="#" class="header__menu-link link link--black">О компании</a></li>
                  <li class="header__menu-item"><a href="#" class="header__menu-link link link--black">Новости</a></li>
                  <li class="header__menu-item"><a href="#" class="header__menu-link link link--black">Вакансии</a></li>
                  <li class="header__menu-item"><a href="#" class="header__menu-link link link--black">Контакты</a></li>
                </ul>
              </nav>
            </header>
            <footer class="footer">
              <div class="footer__sign"><a href="#" class="link link--red link--sign link--sign-in">Войти</a></div>
              <div class="footer__description"><span>&#169; &nbsp;</span><a href="index.html">k-ovk.ru</a><span>, 2016</span></div>
            </footer>
          </div>
        </aside>
        <div class="parallax">
          <div class="parallax__layer parallax__layer--1"></div>
          <div class="parallax__layer parallax__layer--2">
            <h1 class="index__header">h1 here</h1>
          </div>
          <div class="parallax__layer parallax__layer--3"><img src="assets/images/background__triangle.svg" alt=""></div>
        </div>
      </div>
      <div class="content">
        <div class="index">
          <div id="scene" class="mousePlx">
            <div class="owl">
              <div class="owl-slide">
                <div data-depth="0.50" class="layer layer--level-4">
                  <div class="mousePlx__content">
                    <p class="mousePlx__section">Коллекция обоев</p>
                    <h2 class="mousePlx__title">Renaissance</h2>
                    <div class="mousePlx__brand">
                      <!--img size = 150x40px--><img src="assets/images/index__brand.jpg" alt="">
                    </div><a href="#" class="link link--red link--more">Подробнее</a>
                  </div>
                </div>
                <div data-depth="0.20" class="layer layer--level-1">
                  <!-- bg-img size = 550x550px -->
                  <div style="background-image: url(assets/images/index__big-circ.jpg)" class="mousePlx__big-circle"></div>
                </div>
                <div data-depth="0.35" class="layer layer--level-1">
                  <!-- bg-img size = 220x220px-->
                  <div style="background-image: url(assets/images/index__sml-circ.jpg)" class="mousePlx__sml-circle"></div>
                </div>
                <div data-depth="0.70" class="layer layer--level-3">
                  <!-- bg-img size = 270x270px-->
                  <div style="background-image: url(assets/images/index__mdl-circ.jpg)" class="mousePlx__mdl-circle"></div>
                </div>
                <div data-depth="0.50" class="layer layer--level-2">
                  <!-- max bg-img size = 520x520px-->
                  <div style="background-image: url(assets/images/index__pic.png)" class="mousePlx__pic"></div>
                </div>
              </div>
              <div class="owl-slide">
                <div data-depth="0.50" class="layer layer--level-4">
                  <div class="mousePlx__content">
                    <p class="mousePlx__section">Коллекция обоев</p>
                    <h2 class="mousePlx__title">Renaissance</h2>
                    <div class="mousePlx__brand">
                      <!--img size = 150x40px--><img src="assets/images/index__brand.jpg" alt="">
                    </div><a href="#" class="link link--red link--more">Подробнее</a>
                  </div>
                </div>
                <div data-depth="0.20" class="layer layer--level-1">
                  <!-- bg-img size = 550x550px -->
                  <div style="background-image: url(assets/images/550.jpg)" class="mousePlx__big-circle"></div>
                </div>
                <div data-depth="0.35" class="layer layer--level-1">
                  <!-- bg-img size = 220x220px-->
                  <div style="background-image: url(assets/images/220.jpg)" class="mousePlx__sml-circle"></div>
                </div>
                <div data-depth="0.70" class="layer layer--level-3">
                  <!-- bg-img size = 270x270px-->
                  <div style="background-image: url(assets/images/270.jpg)" class="mousePlx__mdl-circle"></div>
                </div>
                <div data-depth="0.50" class="layer layer--level-2">
                  <!---->
                  <div style="background-image: url(assets/images/520.png)" class="mousePlx__pic"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="assets/js/lib/owl.carousel.js"></script>
    <script src="assets/js/lib/parallax.js"></script>
    <script src="assets/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
